html {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Lato";
  font-weight: 300;
  font-size: 1rem;
  line-height: normal;
  background-color: #fff;
  font-style: normal;
  color: #000000;
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 3.75rem;
  line-height: 4.5rem;
  text-transform: uppercase;
  font-weight: 900;
}

h4,
h5,
h6 {
  font-size: 2.5rem;
  line-height: 3.62rem;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.title_page {
  font-size: 3.75rem;
  line-height: 4.5rem;
  text-transform: uppercase;
  font-weight: 900;
}

.sub-title_page {
  font-size: 2.5rem;
  line-height: 3.62rem;
  text-transform: capitalize;
}

.small_text {
  font-size: 1.125rem;
  line-height: normal;
}

.big_text {
  font-size: 1.5rem;
  line-height: 1.687rem;
}

.fz18 {
  font-size: 1.125rem;
  line-height: 1.81rem;
}

.fz16 {
  font-size: 1rem;
  line-height: normal;
}

.fz14 {
  font-size: 0.875rem;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

.extra-bold {
  font-weight: 900;
}

.orange {
  color: #FC501C;
}

/*page loader*/
.loader-frame {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.loader__inner {
  display: inline-block;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #111517;
}

/*end page loader*/
/* **********************home page************************************* */
.left_bar,
.right_bar {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 8;
}

.left_bar {
  left: 0;
  width: 8.5%;
}

.right_bar {
  right: 0;
  width: 5%;
  border-left: 0.5px solid #cbcbcb;
}

main {
  width: 90%;
  margin: 0 auto;
}

.container_flex {
  width: 75vw;
  margin: 0 auto;
}

.logo {
  position: absolute;
  top: 2.937rem;
  left: 21.5%;
}

.bar_social {
  position: absolute;
  top: 21.6rem;
  left: 6%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.bar_social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bar_social ul li {
  margin-right: 2.18rem;
}

.burger_box {
  position: absolute;
  top: 17.93rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

.burger_box span {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #000000;
  height: 1px;
  width: 2.5rem;
  cursor: pointer;
}

.burger_box span:before {
  content: '';
  position: absolute;
  background-color: #000000;
  height: 1px;
  width: 2.5rem;
  top: 0;
  right: 0;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

.burger_box p {
  text-transform: uppercase;
  line-height: 1.2rem;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  padding-top: 2rem;
}

.header-mobile__menu {
  display: none;
  position: unset;
}

.banner-social__mobile, .header-logo__mobile {
  display: none;
}

.bar_contact {
  position: absolute;
  top: 30.62rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.bar_contact a {
  font-size: 1.125rem;
  color: #000;
  text-decoration: none;
  position: relative;
}

.bar_contact a:before {
  content: '';
  position: absolute;
  right: -2rem;
  background: #FC501C;
  width: 1px;
  height: 1.562rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header_main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 2.62rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.header_lang__menu {
  padding-right: 4.5rem;
  position: relative;
}

.header_lang__menu p {
  margin: 0;
}

.header_lang__menu:after {
  content: '';
  position: absolute;
  top: 4px;
  right: 3.12rem;
  border: 5px solid transparent;
  border-top: 8px solid #FC501C;
}

.main_btn {
  width: 11.875rem;
  height: 2.812rem;
  position: relative;
  text-align: center;
  border: 0.5px solid #CBCBCB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #fff;
}

.main_btn a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.main_btn .btn_line {
  position: absolute;
  bottom: -1.5px;
  background-color: #FC501C;
  width: 48px;
  height: 3px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main_btn:hover .btn_line {
  width: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.portfolio-btn__mobile, .header-callback__mobile {
  display: none;
}

.home_banner {
  height: 700px;
  position: relative;
}

.footer_page {
  background: #F7F7F7;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  bottom: 0;
  z-index: 10;
  margin-top: 7.8rem;
}

.footer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.5px solid #C1C1C1;
  padding-bottom: 2.187rem;
  padding-top: 5.75rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.footer-mobile__mail {
  display: none;
}

.footer_location p {
  text-transform: uppercase;
  padding-bottom: 1.25rem;
}

.footer_location ul li {
  padding-bottom: 0.9rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.footer_location ul li:last-child {
  padding-bottom: 0;
}

.footer_location ul li span {
  font-weight: bold;
}

.footer_phones ul li {
  padding-bottom: 0.9rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.footer_phones ul li:last-child {
  padding-bottom: 0;
}

.footer_phones ul li a {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_phones ul li a svg {
  margin-right: 1rem;
}

.footer_mail {
  position: relative;
  top: -2.5rem;
}

.footer_mail a {
  color: #000;
}

.footer_social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.6rem;
}

.footer_social ul li {
  margin-right: 2.1rem;
}

.footer_social ul li:last-child {
  margin-right: 0;
}

.small_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.25rem;
}

.footer_dev ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_dev ul li:nth-child(2) {
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

.footer_dev ul li a {
  color: #000000;
}

/*animation 1-st screen*/
.banner-hide__title,
.banner-hide__subtitle {
  overflow: hidden;
}

.banner-hide__title.display_1,
.banner-hide__subtitle.display_1 {
  display: block;
}

.banner-title__txt {
  overflow: hidden;
  position: absolute;
  top: 25%;
  z-index: 10;
}

.display_1 {
  margin-bottom: 0.3rem;
}

.banner-sub__title {
  font-size: 3rem;
  line-height: 3.625rem;
  margin-top: 0.5rem;
}

.banner-scroll {
  position: absolute;
  bottom: 35%;
  width: 75vw;
  text-align: center;
  opacity: 0;
}

.banner-scroll .banner-scroll_btn {
  background-color: #000;
  width: 1px;
  height: 2.81rem;
  margin: 0 auto;
  animation: animateDown 1s linear alternate-reverse infinite;
}

.banner-art__box {
  width: 70vmax;
  position: relative;
  left: -8.3vw;
  top: -3.8vw;
  z-index: -1;
}

.banner-art__text {
  position: relative;
  z-index: 6;
  display: block;
  line-height: 0;
}

.banner-art__inner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  overflow: hidden;
  width: 99%;
  height: 99%;
  margin: auto;
}

.op_2 {
  opacity: 0.2;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.banner-art__blob {
  position: absolute;
}

.banner-art__blob.banner-blob__1 {
  left: 63%;
  top: -13%;
  width: 32%;
}

.banner-art__blob.banner-blob__2 {
  left: 52%;
  top: 30%;
  width: 15%;
}

.banner-art__blob.banner-blob__3 {
  left: 39%;
  top: 23%;
  width: 17%;
}

.banner-art__blob.banner-blob__4 {
  left: 28%;
  top: 33%;
  width: 13%;
}

.banner-art__blob.banner-blob__5 {
  left: -4%;
  top: -2%;
  width: 40%;
}

.banner-art__blob.banner-blob__6 {
  left: -16%;
  top: -2%;
  width: 40%;
}

/*end animataion 1-st screen*/
/*portfolio block*/
.page-portfolio__tabs {
  width: 100%;
  margin-top: 5.9rem;
}

.tab-header {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tab-header__item {
  margin-right: 3.31rem;
  cursor: pointer;
  text-transform: uppercase;
  padding-bottom: .6rem;
  position: relative;
}

.tab-header__item:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  width: 0;
  background-color: #FC501C;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.tab-header__item:last-child {
  margin-right: 0;
}

.tab-header__item:hover:after {
  width: 100%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.portfolio-btn {
  position: absolute;
  right: 0;
  top: -1rem;
}

.tab-header__item.active {
  border-bottom: 1px solid #FC501C;
  position: relative;
  background-color: #fff;
  padding-top: 1px;
}

.tab-header__item.active:after {
  -webkit-transition: unset;
  transition: unset;
}

.tab-header__item.active:hover {
  border-bottom: 1px solid transparent;
}

.tab-header__item.active:hover:after {
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.tab-content {
  list-style: none;
  padding: 0;
  margin: 0;
  height: auto;
  position: relative;
  margin-top: 3.56rem;
  margin-bottom: 6.25rem;
  margin-left: 7.3vw;
}

.tab-content__item {
  opacity: 0;
  margin-top: -1px;
  height: 0;
}

.tab-content__item.active {
  opacity: 1;
  -webkit-transition: all .8s linear;
  transition: all .8s linear;
  height: auto;
}

.portfolio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-box__item {
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.portfolio-box__item img {
  -webkit-transition: 1s;
  transition: 1s;
  width: 25vw;
}

.portfolio-box__item:hover img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.portfolio-box__item:hover .portfolio-item__text p {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.portfolio-box__item:hover .portfolio-item__text .p-icon {
  opacity: 1;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.portfolio-item__text {
  position: absolute;
  z-index: 1;
  left: 1.5rem;
  bottom: -1rem;
}

.portfolio-item__text .p-icon {
  opacity: 0;
  fill: #fff;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  -webkit-transition: all 0.3s ease-out 0.15s;
  transition: all 0.3s ease-out 0.15s;
}

.portfolio-item__text p {
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.43rem;
  margin: 0;
  -webkit-transition: all 0.3s ease-out 0.15s;
  transition: all 0.3s ease-out 0.15s;
}

/*end portfolio block*/
/*services block*/
.home_services {
  height: 85vh;
}

.s-sub__title {
  position: relative;
  z-index: 3;
}

.services-art__inner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  overflow: hidden;
  width: 99%;
  height: 99%;
  margin: auto;
}

.services-art__text {
  position: relative;
  z-index: 6;
  display: block;
  line-height: 0;
}

.services-buble__box {
  width: 100%;
  position: relative;
  z-index: 1;
  left: -5vw;
  top: -6vw;
}

.services-btn {
  position: absolute;
  z-index: 6;
  top: 18vw;
  right: -4.8vw;
}

.services-blob__1 {
  left: 32%;
  top: 6%;
  width: 20%;
  z-index: 2;
}

.services-blob__2 {
  left: 22%;
  top: 21%;
  width: 40%;
}

.services-blob__3 {
  left: 6%;
  top: 4%;
  width: 30%;
  z-index: 1;
}

.services-blob__4 {
  left: 5%;
  top: 0%;
  width: 19%;
  z-index: 1;
}

.services-blob__5 {
  left: 3%;
  top: 25%;
  width: 13%;
  z-index: 1;
}

.services-direction__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -18vw;
  z-index: 1;
}

.direction-item .direction-line {
  height: 5.625rem;
  width: 1px;
  background-color: #BFBFBF;
  position: relative;
  top: -1.5vw;
}

.direction-item .direction-title h6 {
  font-size: 3.43rem;
  text-transform: uppercase;
  font-weight: 800;
  padding-bottom: 3.8rem;
}

.direction-item .direction-list li {
  text-transform: capitalize;
  margin-bottom: 1.68rem;
}

.direction-item .direction-list li a {
  position: relative;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #000000;
}

.direction-item .direction-list li a .direction-list__line {
  position: absolute;
  width: 0;
  height: 8px;
  bottom: 0.1rem;
  left: 0;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  z-index: -1;
  opacity: .5;
}

.direction-item .direction-list li:last-child {
  margin-bottom: 0;
}

.direction-item .direction-list li:hover a .direction-list__line {
  width: 100%;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.direction-item .direction-list li:nth-child(1) a .direction-list__line {
  background-color: #FC0019;
}

.direction-item .direction-list li:nth-child(2) a .direction-list__line {
  background-color: #FFCA41;
}

.direction-item .direction-list li:nth-child(3) a .direction-list__line {
  background-color: #2FF3B1;
}

.direction-item .direction-list li:nth-child(4) a .direction-list__line {
  background-color: #22D0EA;
}

/*end services block*/
/*reviews block*/
.home-reviews {
  position: relative;
}

.home-reviews .reviews-bg {
  background: #FAFAFA;
  position: absolute;
  height: 100%;
  left: -10%;
  width: 130%;
  z-index: -1;
}

.home-reviews__title {
  padding-bottom: 4.75rem;
}

.reviews-sub__title {
  padding-top: 4.25rem;
}

.home-reviews__slider {
  padding-bottom: 3.62rem;
}

.reviews-item__descr {
  width: 50%;
  max-width: 100%;
  margin-left: 2.3rem;
  margin-top: 3.5rem;
}

.reviews-box__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 9rem;
}

.reviews-box__row .reviews-video a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.812rem;
  text-transform: uppercase;
  color: #000000;
}

.reviews-box__row .reviews-video a svg {
  margin-right: 1.1rem;
}

.reviews-box__row .reviews-video ::-webkit-scrollbar {
  width: 3px;
}

.reviews-box__row .reviews-video ::-webkit-scrollbar-track {
  background: #E5E5E5;
}

.reviews-box__row .reviews-video ::-webkit-scrollbar-thumb {
  width: 3px;
  background: #FC501C;
}

.reviews-box__row .reviews-video .reviews-text {
  height: 21rem;
  overflow-y: scroll;
  margin-top: 1.75rem;
  padding-right: 1rem;
}

.reviews-box__row .reviews-video .reviews-text .review-title {
  margin-top: 1.7rem;
  text-transform: uppercase;
}

.reviews-box__row .reviews-video .reviews-text .review-title:first-child {
  margin-top: 0;
}

.reviews-box__row .reviews-video .reviews-text p {
  line-height: 29px;
}

.reviews-box__row .reviews-item__img p:first-of-type {
  margin-top: 1.68rem;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

.reviews-box__item.slick-active {
  -webkit-animation: zoom-out 1.5s both;
          animation: zoom-out 1.5s both;
}

.rev_nav {
  position: absolute;
  right: calc(50% - 10rem);
  top: 0;
  z-index: 1;
  cursor: pointer;
}

.rev_nav svg {
  fill: #000;
  width: 71px;
  height: 8px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.rev_nav:hover svg {
  fill: #FC501C;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#custom_cursor {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  top: 30px;
  left: 30px;
  border: 1px solid red;
  border-radius: 50%;
}

#rev_prev {
  right: calc(50% - 4.5rem);
}

#rev_next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: calc(50% - 12rem);
}

.reviews-nav {
  position: absolute;
  top: 35%;
  width: 28.5%;
  left: 11%;
}

.reviews-nav:after {
  content: '';
  position: absolute;
  background-color: #FC501C;
  height: 1px;
  width: 4.94vw;
  left: 19%;
  top: 5.1rem;
}

.reviews-nav p {
  font-size: 6rem;
  font-weight: 900;
  color: #FC501C;
  position: relative;
}

.reviews-null {
  position: absolute;
  top: 35.1%;
  left: 7.8%;
  font-size: 6rem;
  font-weight: 900;
  color: #FC501C;
}

.reviews-nav__max {
  position: absolute;
  top: 55%;
  font-size: 6rem;
  font-weight: 900;
  color: #E7E7E7;
}

/*end reviews block*/
/*capability block*/
.home_capability {
  margin-bottom: 10rem;
}

.home_capability ::-webkit-scrollbar {
  width: 3px;
}

.home_capability ::-webkit-scrollbar-track {
  background: #E5E5E5;
}

.home_capability ::-webkit-scrollbar-thumb {
  width: 3px;
  background: #FC501C;
}

.home-capability__title {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.home-capability__title h3 {
  width: 65%;
  max-width: 100%;
  text-transform: inherit;
}

.home-capability__text {
  direction: rtl;
  width: 80%;
  max-width: 100%;
}

.home-capability__text p {
  margin-left: 6rem;
  overflow-y: scroll;
  height: 6.625rem;
  padding-left: 1.56rem;
}

.home-clients__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6.25rem;
}

.home-clients__box .clients-box__item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-bottom: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-clients__box .clients-box__item .image-loaded {
  -webkit-animation: imageLoaded 0.5s ease 0.5s forwards;
          animation: imageLoaded 0.5s ease 0.5s forwards;
  opacity: 0;
}

.home-clients__box .clients-box__item .image-loaded:hover {
  -webkit-transition: .5s;
  transition: .5s;
}

/*end capability block*/
/*why block*/
.home-why {
  position: relative;
  height: 110vh;
  width: 90%;
  margin-bottom: 6.25rem;
}

.home-why .why-bg {
  background: #FAFAFA;
  position: absolute;
  height: 100%;
  left: -10%;
  width: 130%;
}

.why-bg__subtitle {
  margin-top: 4rem;
}

.why-steps__box {
  margin-top: 6.5rem;
}

.steps-box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

.steps-box__item .steps-item__number {
  font-size: 6rem;
  font-weight: 900;
  height: 4rem;
  overflow-y: hidden;
}

.steps-box__item .steps-item__line {
  width: 5.62rem;
  height: 2px;
  background-color: #FC501C;
  position: relative;
  top: 3.4rem;
  margin-right: 2.93rem;
  margin-left: 2.93rem;
}

.steps-box__item .steps-item__text {
  width: 28rem;
}

.steps-box__item .steps-item__text h6 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
}

.steps-box__item .steps-item__text p {
  color: #000000;
}

.s-item_1 .steps-item__number {
  color: #FC501C;
  height: 3.8rem;
}

.s-item_2 {
  margin-right: 20vw;
}

.s-item_2 .steps-item__number {
  color: #5D00E5;
  height: 3.5rem;
}

.s-item_2 .steps-item__line {
  background: #5D00E5;
  margin-right: 3.43rem;
  margin-left: 4.43rem;
}

.s-item_2 .steps-item__text {
  text-align: right;
}

.s-item_3 .steps-item__number {
  color: #2FF3B1;
  height: 3.5rem;
}

.s-item_3 .steps-item__line {
  background: #2FF3B1;
}

.s-item_4 {
  margin-right: 20vw;
}

.s-item_4 .steps-item__number {
  color: #FFCA41;
  height: 3.8rem;
}

.s-item_4 .steps-item__line {
  background: #FFCA41;
  margin-right: 3.43rem;
  margin-left: 4.43rem;
  top: 3.5rem;
}

.s-item_4 .steps-item__text {
  text-align: right;
}

.blobs-box {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-blobs__b1 {
  position: absolute;
  left: -20%;
  top: 2%;
  width: 40vw !important;
  height: 40vw !important;
}

.box-blobs__b2 {
  position: absolute;
  left: 5%;
  top: 45%;
  width: 20vw !important;
  height: 20vw !important;
}

.box-blobs__b3 {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 20vw !important;
  height: 20vw !important;
}

.box-blobs__b4 {
  position: absolute;
  right: -2%;
  bottom: 0%;
  width: 30vw !important;
  height: 30vw !important;
}

/*end why block*/
/*contacts block*/
.home-contact__title {
  width: 60%;
  max-width: 100%;
}

.input_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.page-sub__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 2.5rem;
}

.page-sub__title p {
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.page-sub__title .sub-title__line {
  width: 3.125rem;
  height: 1px;
  background-color: #000;
  position: relative;
  top: -8px;
  margin-right: 1.562rem;
}

.home-contact__title {
  margin-bottom: 8.75rem;
}

.page-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-form_end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.page-form {
  /*form label*/
  /*end form label*/
  /*checkbox*/
  /*end checkbox*/
  /*scroll bar*/
  /*end scroll bar*/
}

.page-form label {
  font-weight: normal;
  margin-bottom: 0;
}

.page-form .placeinput {
  position: relative;
  width: 45%;
  margin-right: 5.81rem;
}

.page-form .placeinput:nth-child(2) {
  margin-right: 0;
}

.page-form .place_holder {
  z-index: 10;
  cursor: text;
  position: absolute;
  top: 1px;
  width: 100%;
  display: none;
  color: #000000;
  font-size: 1.125rem;
  font-weight: normal;
}

.page-form .placeinput {
  position: relative;
  overflow: hidden;
}

.page-form .place_holder span {
  color: red;
}

.page-form .placeinput input:invalid + .place_holder {
  display: inline;
}

.page-form input[type="text"],
.page-form input[type="tel"],
.page-form input[type="email"] {
  width: 100%;
  max-width: 100%;
  border: none;
  border-bottom: 1px solid #CBCBCB;
  margin-bottom: 4.75rem;
  padding-bottom: 1.375rem;
  outline: none;
  font-family: "Lato";
}

.page-form input[type="text"],
.page-form input[type="email"] {
  margin-right: 5.81rem;
}

.page-form ::-webkit-input-placeholder {
  color: #000000;
  font-size: 1.125rem;
  font-weight: normal;
}

.page-form textarea {
  font-family: "Lato";
  width: 45%;
  max-width: 100%;
  border: none;
  border-bottom: 1px solid #CBCBCB;
  resize: none;
  height: 43px;
  overflow-y: scroll;
  outline: none;
  font-weight: normal;
  padding-bottom: 40px;
}

.page-form .label-input__file {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-form .label-input__file svg {
  margin-right: 1.375rem;
}

.page-form .page-form__checkbox input[type="checkbox"] {
  opacity: 0;
}

.page-form .page-form__checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 22px;
  cursor: pointer;
  font-weight: 300;
}

.page-form .page-form__checkbox label span {
  text-transform: uppercase;
  font-weight: normal;
}

.page-form .page-form__checkbox label:before, .page-form .page-form__checkbox label:after {
  position: absolute;
  content: "";
  display: inline-block;
}

.page-form .page-form__checkbox label:before {
  height: 29px;
  width: 29px;
  border: 1.5px solid #FC501C;
  left: -25px;
  top: -12px;
}

.page-form .page-form__checkbox label:after {
  height: 10px;
  width: 18px;
  border-left: 2px solid #FC501C;
  border-bottom: 2px solid #FC501C;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -19px;
  top: -5px;
}

.page-form .page-form__checkbox input[type="checkbox"] + label::after {
  content: none;
}

.page-form .page-form__checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

.page-form ::-webkit-scrollbar {
  width: 3px;
}

.page-form ::-webkit-scrollbar-track {
  background: #E5E5E5;
}

.page-form ::-webkit-scrollbar-thumb {
  width: 3px;
  background: #FC501C;
}

.main_btn input[type="submit"] {
  background-color: #ffffff;
  border: none;
  text-transform: uppercase;
  outline: none;
}

/*end contacts block*/
/* ********************end home page************************* */
/* ********************media query************************** */
/*media 1440px*/
@media screen and (max-width: 1440px) {
  /*home page*/
  .banner-art__box {
    top: 0;
  }
  .portfolio-box__item img {
    width: 25.1vw;
  }
  .reviews-item__descr {
    width: 45%;
  }
  .reviews-nav {
    left: 12%;
  }
  #rev_prev {
    right: calc(50% - 9rem);
  }
  #rev_next {
    right: calc(50% - 17rem);
  }
  /*end home page*/
}

/*end media 1440px*/
/*media 1200px*/
@media screen and (max-width: 1200px) {
  /*home page*/
  .banner-art__box {
    top: 2rem;
  }
  .bar_social {
    left: -10%;
  }
  .right_bar {
    width: 7%;
  }
  .portfolio-btn {
    top: -9.5rem;
    right: 8.6rem;
  }
  .s-item_2, .s-item_4 {
    margin-right: 13vw;
  }
  .reviews-nav:after {
    left: 22%;
    width: 3vw;
  }
  .reviews-null {
    left: 7.4%;
  }
  .reviews-nav__max {
    left: 7%;
  }
  #rev_prev {
    right: calc(50% - 12rem);
  }
  #rev_next {
    right: calc(50% - 19rem);
  }
  /*end home page*/
}

/*end media 1200px*/
/*media h700px*/
@media screen and (max-height: 700px) {
  .footer_page {
    z-index: 7;
  }
  .tab-header__item {
    margin-right: 2.5rem;
  }
  .home_services {
    height: 110vh;
  }
  .home-why {
    height: 145vh;
  }
  .steps-box__item .steps-item__number {
    width: 25%;
  }
}

/*end media*/
/*media 1024px*/
@media screen and (max-width: 1024px) {
  /*home page*/
  h1, h2, h3 {
    font-size: 3.125rem;
    line-height: 3.75rem;
  }
  .direction-item .direction-title h6 {
    font-size: 2.25rem;
    line-height: 2.68rem;
  }
  .banner-art__box {
    top: 3rem;
  }
  .portfolio-btn {
    right: 3.4rem;
  }
  .tab-header__item {
    margin-right: 2.5rem;
  }
  .tab-header__item:last-child {
    margin-right: 0;
  }
  .s-item_2, .s-item_4 {
    margin-right: 2vw;
  }
  .reviews-nav:after {
    left: 25%;
  }
  .reviews-null {
    left: 6.4%;
  }
  .reviews-nav__max {
    left: 6%;
  }
  /*end home page*/
}

/*end media 1024px*/
/*media 768px*/
@media screen and (max-width: 768px) {
  main {
    width: 80%;
  }
  .fz16 {
    font-size: 0.75rem;
  }
  .fz18 {
    font-size: 0.875rem;
  }
  .fz14 {
    font-size: 0.75rem;
  }
  /*home page*/
  .left_bar {
    width: 10%;
  }
  .right_bar {
    width: 10%;
  }
  .bar_social {
    left: -25%;
  }
  .banner-art__box {
    left: -11vw;
  }
  .header_lang__menu {
    display: none;
  }
  .banner-hide__title.display_1 {
    width: 80%;
  }
  .banner-sub__title {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .banner-scroll {
    bottom: 20%;
  }
  .portfolio-btn {
    right: 0;
  }
  .tab-header__item:nth-child(6) {
    margin-right: 0;
  }
  .tab-content {
    margin-left: 3vw;
  }
  .portfolio-box__item img {
    width: 37vw;
  }
  .home_services {
    height: 55vh;
  }
  .services-buble__box {
    width: 130%;
    left: -8vw;
  }
  .services-direction__box {
    top: -22vw;
  }
  .direction-item .direction-line {
    top: -1.2vw;
    height: 3.31rem;
  }
  .direction-item .direction-title h6 {
    padding-bottom: 2.5rem;
  }
  .direction-item .direction-list li {
    margin-bottom: 0.95rem;
  }
  .direction-item .direction-list li a {
    font-size: 0.937rem;
    line-height: 1rem;
  }
  .home-why {
    height: 90vh;
    margin-bottom: 3.1rem;
  }
  .home-why .why-bg {
    width: 152%;
    left: -20%;
  }
  .why-steps__box {
    margin-top: 5.5rem;
  }
  .steps-box__item .steps-item__number {
    overflow: hidden;
    width: 23%;
  }
  .steps-box__item .steps-item__line {
    width: 2.81rem;
    margin-right: 1.56rem;
    margin-left: 1.56rem;
  }
  .s-item_2, .s-item_4 {
    margin-right: 0;
  }
  .box-blobs__b1 {
    top: 22%;
    left: -15%;
  }
  .box-blobs__b2 {
    top: 65%;
    width: 25vw !important;
    height: 25vw !important;
    left: 0;
  }
  .box-blobs__b3 {
    left: 65%;
    top: 10%;
    width: 25vw !important;
    height: 25vw !important;
  }
  .box-blobs__b4 {
    bottom: 15%;
  }
  .home_clients {
    margin-bottom: 3.5rem;
  }
  .home-clients__slider {
    position: relative;
  }
  .home-clients__slider .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home-clients__slider .slick-slide div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-clients__box {
    margin-top: 0;
  }
  .home-clients__box .clients-box__item {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    height: 7.5rem;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .c_nav {
    position: absolute;
    bottom: -12%;
    z-index: 1;
  }
  .c_nav svg {
    width: 3.125rem;
    height: 0.5rem;
    fill: #000000;
  }
  #c_prev {
    right: 40%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    top: 1px;
  }
  #c_next {
    left: 35%;
  }
  .home-reviews .reviews-bg {
    width: 152%;
    left: -20%;
  }
  .reviews-nav {
    top: 48%;
    left: 6%;
  }
  .reviews-nav p {
    font-size: 3.5rem;
  }
  .reviews-nav:after {
    top: 3.1rem;
  }
  .reviews-box__row {
    margin-left: 6rem;
  }
  .reviews-box__row .reviews-video .reviews-text {
    height: 10rem;
  }
  .reviews-box__row .reviews-video .reviews-text p {
    line-height: 1.18rem;
  }
  .rev_nav svg {
    width: 47px;
  }
  #rev_prev {
    right: calc(50% - 6.8rem);
  }
  #rev_next {
    right: calc(50% - 12.5rem);
    top: 1px;
  }
  .reviews-item__descr {
    width: 80%;
  }
  .reviews-null {
    font-size: 3.5rem;
    left: 1%;
    top: 48%;
  }
  .reviews-nav__max {
    font-size: 3.5rem;
    left: 1%;
    top: 58%;
  }
  .home-capability__title h3 {
    width: 100%;
  }
  .home-capability__text {
    width: 100%;
  }
  .home-capability__text p {
    margin-left: 0;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-align: left;
    height: 7.5rem;
  }
  .home-contact__title {
    width: 100%;
  }
  .page-form__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-form .placeinput {
    width: 100%;
    margin-right: 0;
  }
  .page-form input[type="text"], .page-form input[type="tel"], .page-form input[type="email"] {
    margin-bottom: 2.5rem;
  }
  .page-form textarea {
    width: 100%;
    margin-bottom: 3rem;
  }
  .page-form .page-form__checkbox {
    width: 30%;
    font-size: 0.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-form .page-form__checkbox label {
    padding-left: 14px;
  }
  .page-form .page-form__checkbox label:before {
    width: 21px;
    height: 21px;
    top: 0;
  }
  .page-form .page-form__checkbox label:after {
    height: 6px;
    width: 10px;
    top: 6px;
  }
  .page-form .label-input__file {
    font-size: 0.625rem;
  }
  .footer_page {
    height: 14rem;
  }
  .footer_box {
    padding-top: 1.3rem;
  }
  .footer_location ul li {
    font-size: 0.75rem;
  }
  .footer_mail {
    display: none;
  }
  .footer-mobile__mail {
    display: block;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #000;
    margin-bottom: 0.8rem;
  }
  .footer-social__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-social__box ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0.62rem;
  }
  .footer-social__box ul li {
    margin-right: 1.1rem;
  }
  .small_footer {
    font-size: 0.75rem;
  }
  /*end home page*/
}

/*end media 768px*/
/*media 414px*/
@media screen and (max-width: 414px) {
  h1, h2, h3 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  html {
    overflow: unset;
  }
  .fz18 {
    font-size: 0.75rem;
    line-height: 1.18rem;
  }
  .fz16 {
    font-size: 0.75rem;
  }
  .fz14 {
    font-size: 0.625rem;
  }
  .main_btn {
    width: 8.12rem;
    height: 2.5rem;
  }
  .main_btn a {
    font-size: 0.875rem;
  }
  /*home page*/
  .home_banner {
    height: 100vh;
  }
  .home-why {
    width: 100%;
  }
  .home-why .why-bg {
    width: 100%;
    left: 0;
  }
  .home-reviews .reviews-bg {
    width: 100%;
    left: 0;
  }
  .banner-hide__title.display_1 {
    width: 90%;
  }
  .left_bar, .right_bar {
    display: none;
  }
  main {
    width: 100%;
    margin: unset;
    overflow: hidden;
  }
  .container_flex {
    width: 90vw;
  }
  .header-mobile__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_main__box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 1.5rem;
  }
  .header_callback {
    width: 9.06rem;
    height: 2.18rem;
    margin-right: 0.81rem;
    margin-top: 0.2rem;
  }
  .header_callback a {
    font-size: 0.75rem;
  }
  .header-callback__desctop {
    display: none;
  }
  .header-mobile__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
  }
  .header-mobile__menu span {
    width: 1.68rem;
  }
  .header-mobile__menu span:before {
    width: 1.68rem;
    -webkit-transform: translateY(11px);
            transform: translateY(11px);
  }
  .banner-social__mobile {
    display: block;
    position: absolute;
    bottom: 40%;
  }
  .banner-social__mobile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner-social__mobile ul li {
    margin-right: 2.5rem;
  }
  .banner-social__mobile ul li:last-child {
    margin-right: 0;
  }
  .header-logo__mobile {
    display: block;
  }
  .banner-title__txt {
    top: 20%;
  }
  .banner-hide__title {
    font-size: 2.25rem;
  }
  .banner-hide__subtitle {
    font-size: 1.5rem;
  }
  .header-callback__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner-art__blob.banner-blob__1 {
    left: 60%;
  }
  .banner-art__blob.banner-blob__6 {
    left: -15%;
  }
  .banner-scroll {
    width: 100%;
    left: 0;
    bottom: 15%;
  }
  .banner-scroll .banner-scroll_btn {
    height: 2.18rem;
  }
  .banner-art__container {
    overflow: hidden;
    width: 100%;
  }
  .banner-art__box {
    left: -15vw;
    width: 130%;
  }
  .page-sub__title p {
    font-size: 0.75rem;
  }
  .page-sub__title .sub-title__line {
    width: 1.56rem;
    top: -11px;
  }
  .page-portfolio__tabs {
    margin-top: 2.5rem;
  }
  .portfolio-box__item img {
    width: 100%;
  }
  .portfolio-box__item:nth-child(4), .portfolio-box__item:nth-child(5), .portfolio-box__item:nth-child(6) {
    display: none;
  }
  .portfolio-box__item:hover img {
    -webkit-transform: unset;
            transform: unset;
  }
  .portfolio-btn {
    display: none;
  }
  .tab-header__item:nth-child(6) {
    margin-right: 2.5rem;
  }
  .tab-header__item.active {
    padding-top: 0;
  }
  .portfolio-btn__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2rem auto;
  }
  .tab-content {
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .home_services {
    height: 101vh;
    width: 100%;
    overflow: hidden;
  }
  .services-direction__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -60vw;
  }
  .services-buble__box {
    width: 200%;
    left: -14vw;
    top: -19vw;
  }
  .direction-item .direction-line {
    height: 1px;
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
  }
  .home-why {
    margin-top: 2.5rem;
    height: 145vh;
  }
  .why-bg__subtitle {
    margin-top: 2rem;
  }
  .page-sub__title {
    margin-bottom: 1.5rem;
  }
  .steps-box__item .steps-item__line {
    top: 2.6rem;
  }
  .steps-box__item .steps-item__number {
    font-size: 4rem;
    line-height: normal;
    width: 50%;
  }
  .steps-box__item .steps-item__number:nth-child(1) {
    height: 2.8rem;
  }
  .steps-box__item .steps-item__number:nth-child(2) {
    height: 2.8rem;
  }
  .steps-box__item .steps-item__number:nth-child(3) {
    height: 2.8rem;
  }
  .steps-box__item .steps-item__number:nth-child(4) {
    height: 2.8rem;
  }
  .steps-box__item .steps-item__text h6 {
    font-size: 1.125rem;
  }
  .steps-box__item .steps-item__text p {
    font-size: 0.875rem;
  }
  .home_clients {
    margin-bottom: 5rem;
  }
  .home-clients__box .clients-box__item {
    height: 5.5rem;
  }
  .c_nav {
    bottom: -20%;
  }
  #c_next {
    left: 32%;
  }
  #c_prev {
    right: 32%;
    bottom: -2.25rem;
  }
  .reviews-sub__title {
    padding-top: 2.25rem;
  }
  .home-reviews__title {
    padding-bottom: 2.5rem;
  }
  .reviews-box__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0;
  }
  .reviews-item__descr {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }
  .reviews-box__row .reviews-item__img {
    margin-left: 6.5rem;
  }
  .reviews-box__row .reviews-item__img p:first-of-type {
    margin-top: 0.81rem;
    font-size: 0.875rem;
  }
  .reviews-box__row .reviews-video a {
    font-size: 0.625rem;
  }
  .reviews-box__row .reviews-video a svg {
    margin-right: 0.75rem;
  }
  .reviews-nav {
    top: 30%;
    left: 12%;
  }
  .reviews-nav:after {
    left: 42%;
  }
  .reviews-null {
    top: 30.1%;
    left: 5%;
  }
  .reviews-nav__max {
    left: 5%;
    top: 38%;
  }
  .rev_nav {
    top: unset;
    bottom: -5%;
  }
  #rev_prev {
    left: 30%;
  }
  #rev_next {
    right: 30%;
    top: unset;
    bottom: -2rem;
  }
  .home_capability {
    margin-bottom: 5rem;
  }
  .home-capability__title {
    margin-top: 3rem;
    margin-bottom: 2.5rem;
  }
  .home-capability__text p {
    font-size: 0.75rem;
    line-height: 1rem;
    height: 6rem;
  }
  .home-contact__title {
    margin-bottom: 3.75rem;
  }
  .page-form .place_holder {
    font-size: 0.75rem;
  }
  .page-form ::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  .page-form .label-input__file {
    width: 50%;
  }
  .page-form .page-form__checkbox {
    width: 50%;
  }
  .page-form .form_btn {
    margin: 2.9rem auto;
  }
  .footer_page {
    margin-top: 3rem;
    height: auto;
    padding-bottom: 1.375rem;
  }
  .footer_box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer_social {
    margin-top: 1.56rem;
    width: 100%;
  }
  .footer_social ul {
    margin-top: 0;
  }
  .footer-mobile__mail {
    margin-bottom: 0.6rem;
  }
  .small_footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer_idea {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 0.62rem;
  }
  /*end home page*/
}

/*end media 414px*/
/*media 375px*/
@media screen and (max-width: 375px) {
  /*home page*/
  .banner-scroll {
    bottom: 20%;
  }
  .home_services {
    height: 108vh;
  }
  /*end home page*/
}

/*end media 375px*/
/*media 320px*/
@media screen and (max-width: 320px) {
  /*home page*/
  .banner-art__box {
    top: 2rem;
  }
  .banner-hide__title {
    font-size: 2rem;
  }
  .banner-hide__title.display_1 {
    width: 90%;
  }
  .banner-social__mobile {
    bottom: 32%;
  }
  .direction-item .direction-line {
    width: 18rem;
  }
  .home-why {
    margin-top: 2rem;
    height: 160vh;
  }
  .why-steps__box {
    margin-top: 2rem;
  }
  .steps-box__item {
    margin-bottom: 2rem;
  }
  .steps-box__item .steps-item__number {
    width: 75%;
  }
  #c_prev {
    right: 25%;
  }
  #c_next {
    left: 25%;
  }
  .reviews-box__row .reviews-item__img {
    margin-left: 5rem;
  }
  #rev_prev {
    left: 25%;
  }
  #rev_next {
    right: 25%;
  }
  .footer_phones {
    margin-top: 1rem;
  }
  .footer_phones ul li {
    line-height: normal;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
  .page-form .label-input__file {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .page-form .page-form__checkbox {
    width: 100%;
  }
  .page-form .page-form__checkbox label {
    padding-left: 4px;
  }
  .page-form .page-form__checkbox label:before {
    top: -5px;
    left: -35px;
  }
  .page-form .page-form__checkbox label:after {
    top: 1px;
    left: -28px;
  }
  .footer_social {
    margin-top: 1rem;
  }
  /*end home page*/
}

/*end media 320px*/
/* ********************end media query********************** */
/* *******************keyframes****************************** */
@-webkit-keyframes animateDown {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}
@keyframes animateDown {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@-webkit-keyframes zoom-out {
  0% {
    -webkit-transform: rotate(0deg) scale(1.04, 1.04);
            transform: rotate(0deg) scale(1.04, 1.04);
    opacity: 0;
  }
}

@keyframes zoom-out {
  0% {
    -webkit-transform: rotate(0deg) scale(1.04, 1.04);
            transform: rotate(0deg) scale(1.04, 1.04);
    opacity: 0;
  }
}

@-webkit-keyframes imageLoaded {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes imageLoaded {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ********************end keyframes*********************** */
/*# sourceMappingURL=main.css.map */